@use "../../scss/abstracts/" as *;

@use "sass:math";

.sidebar {
  @include flex(stretch, flex-start);
  flex-direction: column;
  color: $txtColor;
  width: $sideBarWidth;
  background-color: $mainBg;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 100;

  &__logo {
    @include flex();
    height: $sideBarLogoHeight;

    img {
      --size: 55px;
      width: var(--size);
      height: var(--size);
    }
    .sidebar-close {
      cursor: pointer;
      display: none;
      i {
        font-size: 2rem;
      }
      @include tablet {
        display: block;
      }
    }
  }
  &__menu {
    @include flex(stretch, flex-start);
    flex-direction: column;
    flex-grow: 1;

    &__item {
      @include flex(center, flex-start);
      position: relative;
      margin-bottom: 2rem;
      padding-left: 20%;
      transition: color 0.3s ease-in-out;

      &:hover {
        color: $mainColor;
      }
      &.active {
        font-weight: 700;
        color: $mainColor;
        &::before {
          content: "";
          position: absolute;
          height: 100%;
          width: 5px;
          left: 0;
          top: 0;
          background-color: $mainColor;
          border-top-right-radius: 20px;
          border-bottom-right-radius: 20px;
        }
      }
      &__icon {
        --size: 40px;
        width: var(--size);
        height: var(--size);
        margin-right: 3rem;
        @include flex(center, center);
        i {
          font-size: 1.9rem;
        }
      }
      &:last-child {
        margin-top: auto;
        cursor: pointer;
      }
    }
  }
}
